{
  "parser": "babel-eslint",
  "extends": ["airbnb","prettier"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "settings": {
  },
  "plugins": [],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "react/jsx-filename-extension": "off"
  }
}